.containerCardImg {
    height: 150px;
}

.cardImg {
    object-fit: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.positionFavoris {
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
}

.positionFavoris .containerFavoris {
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.3ss;
}

.positionFavoris .containerFavoris .imgFavoris {
    width: 25px;
    height: 25px;
}

#containerFavoriteCard {
    width: calc(33.3333% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%)!important;
}

#containerFavoriteCard .containerThumbnailCard {
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

.thumbnailCard {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    filter: grayscale(0.1);
}