@charset "utf-8";
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

main {
  overflow: hidden;
}

img, object, embed, canvas, video, audio, picture, svg {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.perso-black {
  background-color: #495464;
}

.hoverNav:hover {
  background-color: white;
  color: #68b0ab;
}

nav {
  height: inherit!important;
}

nav i {
  height: inherit!important;
}

footer {
  background-color: #68b0ab;
  margin: 0;
}

.fa-bars:before {
  color: white;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler i {
  height: auto!important;
}